body {
    margin: 0;
    padding: 0;
    font-family: Roboto, serif;
}

ol {
    counter-reset: item;
    margin-left: -40px;
}

ol > li {
    list-style-type: none;
    counter-increment: item;
    margin-bottom: 20px;
}

ol > li:before {
    display: inline-block;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
}

ol li > span {
    text-transform: uppercase;
    font-weight: bold;
}

@page {
    size: letter portrait;
    margin: 75px 60px 100px 62px;
    @bottom-right {
        content: "Page " counter(page) " of " counter(pages);
    }
}

@font-face {
    font-family: Roboto;
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/Roboto-Regular.ttf);
    -fs-pdf-font-embed: embed;
    -fs-pdf-font-encoding: Identity-H;
}

@font-face {
    font-family: Roboto-Bold;
    font-weight: bold;
    font-style: normal;
    src: url(../fonts/Roboto-Bold.ttf);
    -fs-pdf-font-embed: embed;
    -fs-pdf-font-encoding: Identity-H;
}